@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="txtWelcomeText" style="margin-top: 260px;">
        <h1 class="display-4">Calendar</h1>
    </div>
</body>